
@{
    ViewBag.Title = "任务管理";
    Layout = "~/Views/Shared/_LayoutIndex-h+.cshtml";
}
<style>
    .btn-outline {
        margin-left: 5px;
    }
</style>
<div class="wrapper wrapper-content">
    <div class="row">
        <div class="col-sm-2">
            <div class="ibox float-e-margins">
                <div class="ibox-content mailbox-content">
                    <div class="file-manager">
                        <a id="btnAdd" onclick="$.job.btn_add()" class="btn btn-block btn-primary compose-mail" href="javascript:void(0);">新建任务</a>
                        <div class="space-25"></div>
                        <h5>项目名称</h5>
                        <ul class="folder-list m-b-md" style="padding: 0">
                            <li>
                                <a href="#">
                                    <i class="fa fa-certificate "></i> 全部<span class="label label-default pull-right allcount">0</span>
                                </a>
                            </li>

                            <li>
                                <a href="#">
                                    <i class="fa fa-certificate "></i> 安全生产管理系统
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-certificate "></i> 蚕虫·存图系统
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-certificate "></i> 蚕虫·选图系统
                                </a>
                            </li>
                            <li>
                                <a href="#">
                                    <i class="fa fa-certificate "></i> 爱果·移动app
                                </a>
                            </li>
                        </ul>
                        <h5>分类</h5>
                        <ul id="ul_category" class="category-list" style="padding: 0">
                            <li>
                                <a href="javascript:void(0);" data-state="-1"> <i class="fa fa-circle text-primary"></i>待运行任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-state="0"> <i class="fa fa-circle text-primary"></i>运行中任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-state="1"> <i class="fa fa-circle text-info"></i>暂停中任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-state="2"> <i class="fa fa-circle text-danger"></i>错误任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-state="3"> <i class="fa fa-circle text-warning"></i>阻塞任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-state="4"> <i class="fa fa-circle text-navy"></i>已完成任务</a>
                            </li>
                            <li>
                                <a href="javascript:void(0);" data-state="5"> <i class="fa fa-circle text-navy"></i>已删除任务</a>
                            </li>
                        </ul>

                        <div class="clearfix"></div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-10 animated fadeInRight">
            <div class="mail-box-header">
                <form method="get" action="index.html" class="pull-right mail-search">
                    <div class="input-group">
                        <input type="text" id="txt_keyword" class="form-control input-sm" name="txt_keyword" placeholder="搜索任务名称，触发器名称等">
                        <div class="input-group-btn">
                            <button type="button" id="btnSearch" class="btn btn-sm btn-primary">
                                搜索
                            </button>
                        </div>
                    </div>
                </form>
                <h2>
                    <span id="statename">任务列表</span> (<span class="allcount">0</span>)
                </h2>
                <div class="mail-tools tooltip-demo m-t-md">
                    <div class="btn-group pull-right">
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-arrow-left"></i>
                        </button>
                        <button class="btn btn-white btn-sm">
                            <i class="fa fa-arrow-right"></i>
                        </button>
                    </div>
                    <button class="btn btn-white btn-sm" data-placement="left" title="刷新列表"><i class="fa fa-refresh"></i> 刷新</button>

                    <button id="btnRun" class="btn btn-primary btn-sm" data-placement="top" title="批量执行">
                        <i class="fa fa-play"></i> 批量执行
                    </button>
                    <button id="btnPause" class="btn btn-warning btn-sm" data-placement="top" title="批量暂停">
                        <i class="fa fa-pause"></i> 批量暂停
                    </button>
                    <button id="btnResume" class="btn btn-info btn-sm" data-placement="top" title="批量恢复">
                        <i class="fa fa-rotate-left"></i> 批量恢复
                    </button>
                    <button id="btnDel" class="btn btn-danger btn-sm" data-placement="top" title="批量删除">
                        <i class="fa fa-trash"></i> 批量删除
                    </button>
                </div>
            </div>
            <div class="mail-box">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="check-mail">
                                <input type="checkbox" id="chkall" class="i-checks">
                            </th>
                            <th>
                                序号
                            </th>
                            <th>
                                任务名称
                            </th>
                            <th>
                                触发器名称
                            </th>
                            <th>
                                执行周期
                            </th>
                            <th>
                                任务状态
                            </th>
                            <th>
                                创建时间
                            </th>
                            <th>
                                任务描述
                            </th>
                            <th>
                                操作
                            </th>
                        </tr>
                    </thead>
                    <tbody id="joblist">
                        @*<tr>
                                <td><input type="checkbox" class="i-checks"></td>
                                <td>定时写入txt文档</td>
                                <td>触发器1</td>
                                <td>1/10****?</td>
                                <td>2018-01-19 10:20</td>
                                <td>每五秒写入一些文档</td>
                                <td>
                                    <button type="button" class="btn btn-primary btn-xs btn-outline">恢复</button>
                                    <button type="button" class="btn btn-danger btn-xs btn-outline">删除</button>
                                    <button type="button" class="btn btn-info btn-xs btn-outline">详情</button>
                                </td>
                            </tr>*@

                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    var currpage = 1;//默认当前第一页
    (function ($) {
        $.job = {
            init: function () {
                $.job.fnjoblist(true);
                $.job.fnagain();
                $.job.bind();
            },
            bind: function () {
                $("#btnSearch").on("click", function () {
                    $.job.fnjoblist(true);
                });
                $('.mail-box').slimScroll({
                    height: '700px'
                }).on('slimscroll', function (e, pos) {
                    if (pos == 'bottom') {
                        currpage += 1;
                        $.job.fnjoblist(false);
                    }
                });
                $("#ul_category").on("click", "a", function () {
                    $("#ul_category a").removeClass("active");
                    $(this).addClass("active");
                    $("#statename").text($(this).text());
                    $.job.fnjoblist(true);//重新加载列表
                });

                $('#chkall').on('ifChanged', function (event) {
                    var flag = 'uncheck';
                    if ($(this).is(':checked')) {
                        flag = 'check';
                    }
                    $('#joblist input[type="checkbox"]').iCheck(flag);
                });

                $('#joblist').on("click", ".btnRun", function () {
                    var id = $(this).parents("tr").data("id");
                    $.job.cert_run(id);
                });
                $('#joblist').on("click", ".btnDetail", function () {
                    var id = $(this).parents("tr").data("id");
                    $.job.btn_edit(id);
                });
                $('#joblist').on("click", ".btnResume", function () {
                    var id = $(this).parents("tr").data("id");
                    $.job.cert_resume(id);
                });
                $('#joblist').on("click", ".btnDel", function () {
                    var id = $(this).parents("tr").data("id");
                    $.job.btn_delete(id);
                });
                $('#joblist').on("click", ".btnPause", function () {
                    var id = $(this).parents("tr").data("id");
                    $.job.cert_pause(id);
                });
                $('#joblist').on("click", ".btnPhydel", function () {
                    var id = $(this).parents("tr").data("id");
                    $.job.cert_physicallydel(id);
                });

                $("#btnRun").bind("click", function () {
                    var ids = $.job.fngetids();
                    $.job.cert_run(ids);
                });
                $("#btnPause").bind("click", function () {
                    var ids = $.job.fngetids();
                    $.job.cert_pause(ids);
                });
                $("#btnResume").bind("click", function () {
                    var ids = $.job.fngetids();
                    $.job.cert_resume(ids);
                });
                $("#btnDel").bind("click", function () {
                    var ids = $.job.fngetids();
                    $.job.btn_delete(ids);
                });
            },
            fnjoblist: function (isEmpty) {
                var crows = 20;//默认20一页
                if (isEmpty) {
                    currpage = 1;
                }
                var loadindex = null;
                var category = $("#ul_category a.active").data("state");
                var txt_keyword = $("#txt_keyword").val();
                var strhtm = '';

                $.ajax({
                    type: "post",
                    url: "/QuartzManage/job/GetGridJson",
                    data: { category: category, page: currpage, keyword: txt_keyword, rows: crows },
                    beforeSend: function () {
                        loadindex = layer.load(1, {
                            shade: [0.1, '#fff'] //0.1透明度的白色背景
                        });
                    },
                    complete: function (data) {
                        layer.close(loadindex);
                    },
                    dataType: "json",
                    async: true,
                    success: function (result) {

                        if (!result.state) {
                            $.modalMsg('拉取失败', 'error');
                            return;
                        }
                        if (result.data == null || result.data == 'null') {
                            $.modalMsg('暂无数据', 'warning');
                            $("#joblist").empty();
                            return;
                        }
                        $(".allcount").text(result.message);//总数

                        $.each(result.data, function (idx, obj) {


                            //var category = top.clients.dataItems.Category[obj.F_Category] == undefined ? "" : top.clients.dataItems.Category[obj.F_Category];
                            var enable = obj.F_EnabledMark == 1 ? '<i class=\"fa fa-toggle-on\"></i>' : '<i class=\"fa fa-toggle-off\"></i>';
                            var curindex = (((parseInt(currpage) - 1) * crows) + (parseInt(idx) + 1));
                            var statename = $.job.fnGetState(obj.TriggerState);
                            var buttonhtm = $.job.fnGetButton(obj.TriggerState);

                            strhtm += '<tr data-id="' + obj.F_Id + '">';
                            strhtm += '<td><input type="checkbox" class="i-checks"></td>';
                            strhtm += '<td>' + curindex + '</td>';
                            strhtm += '<td>' + obj.JobName + '</td>';
                            strhtm += '<td>' + obj.TriggerName + '</td>';
                            strhtm += '<td>' + obj.Cron + '</td>';
                            strhtm += '<td>' + statename + '</td>';
                            strhtm += '<td>' + obj.F_CreatorTime + '</td>';
                            strhtm += '<td>' + obj.F_Description + '</td>';
                            strhtm += '<td>';
                            strhtm += buttonhtm;
                            strhtm += '</td>';
                            strhtm += '</tr>';
                        });
                        if (isEmpty) {
                            $('#chkall').iCheck('uncheck');
                            $("#joblist").empty().append(strhtm);
                            if ($.trim(strhtm) == '') {
                                $.modalMsg('暂无任务', 'warning');
                                return;
                            }
                        }
                        else {
                            if ($.trim(strhtm) == '') {
                                //$.modalMsg('没有更多了', 'warning');
                                return;
                            }
                            $("#joblist").append(strhtm);
                        }
                        $.job.fnagain();//二次加载
                    }
                });
            },
            fnagain: function () {
                $(".i-checks").iCheck({
                    handle: 'checkbox',
                    checkboxClass: 'icheckbox_minimal-green',
                    radioClass: 'iradio_minimal-green'
                });
                $('#chkall').on('ifChanged', function (event) {
                    var flag = 'uncheck';
                    if ($(this).is(':checked')) {
                        flag = 'check';
                    }
                    $('#joblist input[type="checkbox"]').iCheck(flag);
                });
            },
            fngetids: function () {
                var strIds = '';
                $("#joblist :checkbox:checked").each(function () {
                    strIds += $(this).parents("tr").data("id") + ",";
                });
                if (strIds != '') {
                    strIds = strIds.substring(0, strIds.length - 1);
                }
                return strIds;
            },
            btn_delete: function (ids) {
                if (ids.length == 0) {
                    layer.msg("请选择删除项", { icon: 0, time: 1000 });
                    return;
                }
                layer.confirm('确定删除吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("DelTask", "Job")',
                        data: { ids: ids },
                        success: function (data) {
                            $.modalMsg('操作成功', 'success');
                            $("#btnSearch").click();
                            layer.close(index);
                        }
                    });
                });
            },
            cert_physicallydel: function (ids) {
                if (ids.length == 0) {
                    layer.msg("请选择删除项", { icon: 0, time: 1000 });
                    return;
                }
                layer.confirm('确定彻底删除吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("DhysicallyDelTask", "Job")',
                        data: { ids: ids },
                        success: function (data) {
                            $.modalMsg('操作成功', 'success');
                            $("#btnSearch").click();
                            layer.close(index);
                        }
                    });
                });
            },
            cert_run: function (ids) {
                if (ids.length == 0) {
                    layer.msg("请选择运行项", { icon: 0, time: 1000 });
                    return;
                }
                layer.confirm('确定运行任务吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("RunTask", "Job")',
                        data: { ids: ids },
                        success: function (data) {
                            $.modalMsg('操作成功', 'success');
                            $("#btnSearch").click();
                            layer.close(index);
                        }
                    });
                });
            },
            cert_pause: function (ids) {
                if (ids.length == 0) {
                    layer.msg("请选择暂停项", { icon: 0, time: 1000 });
                    return;
                }
                layer.confirm('确定暂停任务吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("PauseTask", "Job")',
                        data: { ids: ids },
                        success: function (data) {
                            $.modalMsg('操作成功', 'success');
                            $("#btnSearch").click();
                            layer.close(index);
                        }
                    });
                });
            },
            cert_resume: function (ids) {
                if (ids.length == 0) {
                    layer.msg("请选择恢复项", { icon: 0, time: 1000 });
                    return;
                }
                layer.confirm('确定恢复任务吗？', function (index) {
                    $.ajax({
                        type: 'post',
                        url: '@Url.Action("ResumeTask", "Job")',
                        data: { ids: ids },
                        success: function (data) {
                            $.modalMsg('操作成功', 'success');
                            $("#btnSearch").click();
                            layer.close(index);
                        }
                    });
                });
            },
            btn_add: function () {
                $.modalOpen({
                    id: "Form",
                    title: "新增任务",
                    url: "/QuartzManage/Job/Form",
                    width: "680px",
                    height: "480px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].submitForm();
                    }
                });
            },
            btn_edit: function (keyValue) {
                if (keyValue == undefined || keyValue == "") {
                    $.modalMsg("请选择编辑项", "warning");
                    return;
                }
                $.modalOpen({
                    id: "Form",
                    title: "编辑任务",
                    url: "/QuartzManage/Job/Form?keyValue=" + keyValue,
                    width: "680px",
                    height: "480px",
                    callBack: function (iframeId) {
                        top.frames[iframeId].submitForm();
                    }
                });
            },
            fnGetState: function (str) {
                switch (str) {
                    case "-1":
                        return "待运行";
                        break;
                    case "0":
                        return "运行中";
                        break;
                    case "1":
                        return "暂停中";
                        break;
                    case "2":
                        return "错误";
                        break;
                    case "3":
                        return "阻塞";
                        break;
                    case "4":
                        return "已完成";
                        break;
                    case "5":
                        return "已删除";
                        break;
                    default:
                        break;
                }
            },
            fnGetButton(str) {
                var buttonhtm = '';

                switch (str) {
                    case "-1":
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnRun">运行</button>';
                        buttonhtm += '<button type="button"  class="btn btn-danger btn-xs btn-outline btnDel">删除</button>';
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        break;
                    case "0":
                        buttonhtm += '<button type="button"  class="btn btn-warning btn-xs btn-outline btnPause">暂停</button>';
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        break;
                    case "1":
                        buttonhtm += '<button type="button"  class="btn btn-primary btn-xs btn-outline btnResume">恢复</button>';
                        buttonhtm += '<button type="button"  class="btn btn-danger btn-xs btn-outline btnDel">删除</button>';
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        break;
                    case "2":
                        buttonhtm += '<button type="button"  class="btn btn-danger btn-xs btn-outline btnDel">删除</button>';
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        break;
                    case "3":
                        buttonhtm += '<button type="button"  class="btn btn-danger btn-xs btn-outline btnDel">删除</button>';
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        break;
                    case "4":
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        buttonhtm += '<button type="button"  class="btn btn-danger btn-xs btn-outline btnDel">删除</button>';
                        break;
                    case "5":
                        buttonhtm += '<button type="button"  class="btn btn-info btn-xs btn-outline btnDetail">详情</button>';
                        buttonhtm += '<button type="button"  class="btn btn-danger btn-xs btn-outline btnPhydel">清空</button>';
                        break;
                    default:
                        break;
                }
                return buttonhtm;
            }
        };
        $(function () {
            $.job.init();//初始化
        });
    })(jQuery);
</script>
